.title {
    color: #007bff;
}
.zhihu-icon {
    color: #007bff;
}
tr {
    padding: 0.5rem 1rem;
}
th, td {
    padding: 0.5rem 1rem;
}
table {
    border: 1px solid gray;
    box-shadow: 3px 3px 5px #888888;
}
article img {
  width: 100%;
  max-width: 500px;
}